<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <p>[ARKLE BNB]</p>
        <div class="links__container">
          <a class="link" href="#">Login</a>
          <a class="link" href="#">Sign Up</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">My Account</h1>
        <p class="blurb__text">Here is where you manage booking requests and account details</p>
      </section>
      <ul class="list">
        <% @requests.each do |request| %>
         <a href="/requests/<%= request['id'] %>">
          <li class="list__item">
            <div class="request request__name"><%= request['name'] %></div>
            <div class="request request__description">
              <%= request['description'] %>
            </div>
            <div class="request request__night_price">
              £<%= request['night_price'].to_i / 100 %>.00 /night
            </div>
            <div class="request request__description">
            <%= request['date'] %>
          </li>
        </a>
        <% end %>
      </ul>
      <ul class="list">
      <% @booking_requests.each do |request| %>
        <li class="list__item">
          <div class="request request__name"><%= request['listing_name'] %></div>
          <div class="request request__description"><%= request['date_requested'] %></div>
          <div class="request request__night_price"><%= request['requester_name'] %></div>
          <div class="request request__description"><%= request['requester_email'] %>
        </li>
      <% end %>
    </ul>
    </header>
  </body>
</html>
