<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img class="logo" src="/shack.png" alt="logo" /></a>
        <div class="links__container">
          <a class="link nav__link" href="#">Login</a>
          <a class="link nav__link" href="#">Sign Up</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header"><%= @listing.name %></h1>
        <p class="listing listing__description"><%= @listing.description %></p>
        <p class="listing listing__night_price">
          £<%= @listing.night_price.to_i/100 %>.00
        </p>

        <div class="form__container">
          <form
            class="form"
            action="/book_a_night/<%= @listing.id %>"
            method="POST"
          >
            <label class="form__label" for="date_list_id">Date</label
            ><input class="form__input" type="date" name="date" />
            <input
              class="form__input form__submit"
              type="submit"
              value="Request"
            />
          </form>
        </div>

        <div class="container__listings">
          <ul class="list">
            <% @dates_list.each do |date| %> <% next if date.booked_status ==
            "t" %>
            <li class="list__item"><%= date.date %></li>
            <% end %>
          </ul>
        </div>
      </section>
    </header>
  </body>
</html>
